<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.threeping.syncday.card.query.repository.CardMapper">
    <resultMap id="cardResultMap" type="com.threeping.syncday.card.query.aggregate.Card">
        <id property="cardId" column="card_id"></id>
        <result property="title" column="title"></result>
        <result property="content" column="content"></result>
        <result property="createdAt" column="created_at"></result>
        <result property="startTime" column="start_time"></result>
        <result property="endTime" column="end_time"></result>
        <result property="vcsObjectType" column="vcs_object_type"></result>
        <result property="vcsObjectUrl" column="vcs_object_url"></result>
        <result property="cardBoardId" column="cardboard_id"></result>
        <result property="tagId" column="tag_id"></result>
        <result property="createdBy" column="created_by"></result>
        <result property="assignee" column="assignee"></result>
    </resultMap>

    <resultMap id="cardSearchMap" type="com.threeping.syncday.card.query.dto.CardQueryDTO">
        <id property="cardId" column="card_id"/>
        <result property="cardTitle" column="card_title"/>
        <result property="cardContent" column="content"/>
        <result property="cardboardId" column="cardboard_id"/>
        <result property="cardboardName" column="cardboard_title"/>
        <result property="workspaceId" column="workspace_id"/>
        <result property="workspaceName" column="workspace_name"/>
        <result property="projectId" column="proj_id"/>
        <result property="creatorId" column="created_by"/>
        <result property="creatorName" column="creator_name"/>
        <result property="assigneeId" column="assignee"/>
        <result property="assigneeName" column="assignee_name"/>
        <result property="tags" column="tag_name"/>
        <result property="vcsObject" column="vcs_object_type"/>
        <result property="vcsUrl" column="vcs_object_url"/>
        <result property="createdAt" column="created_at"/>
    </resultMap>

    <resultMap id="todayCardResultMap" type="com.threeping.syncday.card.query.aggregate.TodayCardDTO">
        <id property="cardId" column="card_id"></id>
        <result property="title" column="title"></result>
        <result property="content" column="content"></result>
        <result property="createdAt" column="created_at"></result>
        <result property="startTime" column="start_time"></result>
        <result property="endTime" column="end_time"></result>
        <result property="vcsObjectType" column="vcs_object_type"></result>
        <result property="vcsObjectUrl" column="vcs_object_url"></result>
        <result property="cardBoardId" column="cardboard_id"></result>
        <result property="tagId" column="tag_id"></result>
        <result property="tagName" column="tag_name"></result>
        <result property="color" column="color"></result>
        <result property="createdBy" column="created_by"></result>
        <result property="assignee" column="assignee"></result>
    </resultMap>

    <select id="selectAllCards" resultMap="cardResultMap">
        SELECT
                CARD_ID
               ,TITLE
               ,CONTENT
               ,CREATED_AT
               ,START_TIME
               ,END_TIME
               ,VCS_OBJECT_TYPE
               ,VCS_OBJECT_URL
               ,CARDBOARD_ID
               ,TAG_ID
               ,CREATED_BY
               ,ASSIGNEE
          FROM TBL_CARD
    </select>

    <select id="selectCardsByCardboardId" resultMap="cardResultMap" parameterType="long">
        SELECT
                CARD_ID
               ,TITLE
               ,CONTENT
               ,CREATED_AT
               ,START_TIME
               ,END_TIME
               ,VCS_OBJECT_TYPE
               ,VCS_OBJECT_URL
               ,CARDBOARD_ID
               ,TAG_ID
               ,CREATED_BY
               ,ASSIGNEE
          FROM  TBL_CARD
         WHERE CARDBOARD_ID = #{ cardboardId }
    </select>

    <select id="findByCardId" resultMap="cardSearchMap" parameterType="Long">
        SELECT
            c.card_id AS cardId,
            c.title AS cardTitle,
            c.content AS cardContent,
            c.cardboard_id AS cardboardId,
            cb.title AS cardboardName,
            cb.workspace_id AS workspaceId,
            w.workspace_name AS workspaceName,
            w.proj_id,
            c.created_by AS creatorId,
            creator.username AS creatorName,
            c.assignee AS assigneeId,
            assignee.username AS assigneeName,
            ct.tag_name AS tags,
            c.vcs_object_type AS vcsObject,
            c.vcs_object_url AS vcsUrl,
            c.created_at AS createdAt
        FROM TBL_CARD c
                 LEFT JOIN TBL_CARDBOARD cb ON c.cardboard_id = cb.cardboard_id
                 LEFT JOIN TBL_WORKSPACE w ON cb.workspace_id = w.workspace_id
                 LEFT JOIN TBL_USER creator ON c.created_by = creator.user_id
                 LEFT JOIN TBL_USER assignee ON c.assignee = assignee.user_id
                 LEFT JOIN TBL_CARD_TAG ct ON c.tag_id = ct.tag_id
        WHERE c.card_id = #{cardId}
    </select>

    <select id="findAllCards" resultMap="cardSearchMap">
        SELECT
            c.card_id,
            c.title AS card_title,
            c.content,
            c.cardboard_id,
            cb.title AS cardboard_title,
            cb.workspace_id,
            w.workspace_name,
            w.proj_id,
            c.created_by,
            creator.username AS creator_name,
            c.assignee,
            assignee.username AS assignee_name,
            ct.tag_name,
            c.vcs_object_type,
            c.vcs_object_url,
            c.created_at
        FROM TBL_CARD c
                 LEFT JOIN TBL_CARDBOARD cb ON c.cardboard_id = cb.cardboard_id
                 LEFT JOIN TBL_WORKSPACE w ON cb.workspace_id = w.workspace_id
                 LEFT JOIN TBL_USER creator ON c.created_by = creator.user_id
                 LEFT JOIN TBL_USER assignee ON c.assignee = assignee.user_id
                 LEFT JOIN TBL_CARD_TAG ct ON c.tag_id = ct.tag_id
    </select>

    <select id="selectTodayCardsByUserId" resultMap="todayCardResultMap" parameterType="long">
    <![CDATA[
        SELECT
            c.CARD_ID,
            c.TITLE,
            c.CONTENT,
            c.CREATED_AT,
            c.START_TIME,
            c.END_TIME,
            c.VCS_OBJECT_TYPE,
            c.VCS_OBJECT_URL,
            c.CARDBOARD_ID,
            c.TAG_ID,
            ct.tag_name,
            ct.color,
            c.CREATED_BY,
            c.ASSIGNEE
        FROM TBL_CARD c
        LEFT JOIN TBL_CARD_TAG ct ON c.tag_id = ct.tag_id
        WHERE assignee = #{userId}
          AND (start_time <= NOW() AND end_time >= NOW())
        ORDER BY c.start_time
        ]]>
</select>

</mapper>