<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.threeping.syncday.schedule.query.repository.ScheduleMapper">

    <resultMap id="scheduleResultMap" type="com.threeping.syncday.schedule.query.aggregate.ScheduleDTO">
        <result property="userId" column="user_id"></result>
        <result property="scheduleId" column="schedule_id"></result>
        <result property="title" column="title"></result>
        <result property="content" column="content"></result>
        <result property="startTime" column="start_time"></result>
        <result property="endTime" column="end_time"></result>
        <result property="publicStatus" column="public_status"></result>
        <result property="meetingStatus" column="meeting_status"></result>
        <result property="meetingroomId" column="meetingroom_id"></result>
        <result property="status" column="status"></result>
        <result property="notificationTime" column="notification_time"></result>

        <collection property="attendeeIds" resultMap="attendeeResultMap"/>
    </resultMap>

    <resultMap id="attendeeResultMap" type="com.threeping.syncday.schedule.query.aggregate.AttendeeDTO">
        <result property="userId" column="user_id_from_participant"/>
    </resultMap>

    <resultMap id="scheduleDetailResultMap" type="com.threeping.syncday.schedule.query.aggregate.ScheduleDetailDTO">
        <id property="scheduleId" column="schedule_id"></id>
        <result property="title" column="title"></result>
        <result property="content" column="content"></result>
        <result property="startTime" column="start_time"></result>
        <result property="endTime" column="end_time"></result>
        <result property="updateTime" column="update_time"></result>
        <result property="publicStatus" column="public_status"></result>
        <result property="meetingStatus" column="meeting_status"></result>
        <result property="meetingroomId" column="meetingroom_id"></result>
        <result property="ownerUserId" column="owner_user_id"></result>
        <result property="ownerUsername" column="owner_username"></result>
        <result property="myNotificationTime" column="my_notification_time"></result>

        <!-- 사용자 정보 리스트 -->
        <collection property="userInfo" resultMap="userInfoResultMap"/>
    </resultMap>

    <resultMap id="userInfoResultMap" type="com.threeping.syncday.schedule.query.aggregate.UserInfoDTO">
        <result property="userId" column="user_id_from_participant"/>
        <result property="username" column="username_from_user"/>
        <result property="participationStatus" column="status"/>
        <result property="notificationTime" column="participation_notification_time" />
    </resultMap>

    <resultMap id="MyTodayScheduleResultMap" type="com.threeping.syncday.schedule.query.aggregate.MyTodayScheduleDTO">
        <id property="scheduleId" column="schedule_id"></id>
        <result property="title" column="title"></result>
        <result property="content" column="content"></result>
        <result property="startTime" column="start_time"></result>
        <result property="endTime" column="end_time"></result>
        <result property="updateTime" column="update_time"></result>
        <result property="meetingStatus" column="meeting_status"></result>
        <result property="meetingroomId" column="meetingroom_id"></result>
        <result property="userId" column="user_id"></result>
        <result property="username" column="username"></result>
        <result property="status" column="status"></result>
        <result property="notificationTime" column="notification_time"></result>
    </resultMap>

    <select id="selectMySchedulesByUserId" resultMap="scheduleResultMap" parameterType="long">
        SELECT s.user_id,
               s.schedule_id,
               s.title,
               s.content,
               s.start_time,
               s.end_time,
               s.public_status,
               s.meeting_status,
               s.meetingroom_id,
               us.status,
               us.notification_time,
               p.user_id AS user_id_from_participant
          FROM TBL_SCHEDULE s
          LEFT JOIN TBL_USER_SCHEDULE us
            ON s.schedule_id = us.schedule_id
           AND us.user_id = #{userId}  <!-- userId에 해당하는 TBL_USER_SCHEDULE에서 상태를 조회 -->
          LEFT JOIN TBL_USER_SCHEDULE p
            ON s.schedule_id = p.schedule_id  <!-- 참석자는 모두 조회 (status 조건 제거) -->
         WHERE s.schedule_id IN (
               SELECT schedule_id
                 FROM TBL_USER_SCHEDULE
                WHERE user_id = #{userId}  <!-- 해당 userId에 대해 일정이 포함된 scheduleId 조회 -->
               )
           AND (us.status != 'ABSENT' OR us.user_id IS NULL)  <!-- 내 일정에서 'ABSENT' 상태 제외 -->
    </select>

    <select id="selectOthersSchedulesBySearchUserId" resultMap="scheduleResultMap" parameterType="long">
        SELECT s.schedule_id,
               s.title,
               s.content,
               s.start_time,
               s.end_time
          FROM TBL_USER_SCHEDULE us
          JOIN TBL_SCHEDULE s
            ON us.schedule_id = s.schedule_id
         WHERE us.user_id = #{searchUserId}
           AND us.status != 'ABSENT'
           AND s.public_status = 'PUBLIC'
    </select>

    <select id="selectMyDetailSchedulesByUserIdAndScheduleId" resultMap="scheduleDetailResultMap" parameterType="map">
        SELECT
            -- 일정 기본 정보
            S.SCHEDULE_ID,
            S.TITLE,
            S.CONTENT,
            S.START_TIME,
            S.END_TIME,
            S.UPDATE_TIME,
            S.PUBLIC_STATUS,
            S.MEETING_STATUS,
            S.MEETINGROOM_ID,

            -- 소유자 정보
            U.USER_ID AS OWNER_USER_ID,
            U.USERNAME AS OWNER_USERNAME,

            -- 내 알림 시간
            US2.NOTIFICATION_TIME AS MY_NOTIFICATION_TIME,

            -- 참석자 정보
            US.USER_ID AS USER_ID_FROM_PARTICIPANT,
            UP.USERNAME AS USERNAME_FROM_USER,
            US.STATUS,
            US.NOTIFICATION_TIME AS PARTICIPATION_NOTIFICATION_TIME
        FROM
            TBL_SCHEDULE S
                -- 소유자 정보 (필수)
                INNER JOIN TBL_USER U ON S.USER_ID = U.USER_ID
                -- 내 알림 시간 (옵션)
                LEFT JOIN TBL_USER_SCHEDULE US2 ON S.SCHEDULE_ID = US2.SCHEDULE_ID AND US2.USER_ID = #{userId}
                -- 참석자 정보 (옵션)
                LEFT JOIN TBL_USER_SCHEDULE US ON S.SCHEDULE_ID = US.SCHEDULE_ID
                LEFT JOIN TBL_USER UP ON US.USER_ID = UP.USER_ID
        WHERE
            S.SCHEDULE_ID = #{scheduleId}
    </select>

    <select id="selectByScheduleId" resultMap="scheduleResultMap" parameterType="long">
        SELECT S.SCHEDULE_ID
             , S.TITLE
             , S.CONTENT
             , S.START_TIME
             , S.END_TIME
             , S.UPDATE_TIME
             , S.PUBLIC_STATUS
             , S.SCHEDULE_REPEAT_ID
             , S.REPEAT_ORDER
             , S.MEETING_STATUS
             , S.MEETINGROOM_ID
             , S.USER_ID
        FROM TBL_SCHEDULE S
        WHERE S.SCHEDULE_ID = #{scheduleId}
    </select>

    <select id="selectMyTodaySchedule" resultMap="MyTodayScheduleResultMap" parameterType="long">
        SELECT S.SCHEDULE_ID
             , S.TITLE
             , S.CONTENT
             , S.START_TIME
             , S.END_TIME
             , S.UPDATE_TIME
             , S.MEETING_STATUS
             , S.MEETINGROOM_ID
             , S.USER_ID
             , OWNER.USERNAME AS username -- 일정 소유자의 이름
             , US.USER_ID AS user_id_from_participant
             , PARTICIPANT.USERNAME AS username_from_user -- 참여자의 이름
             , US.STATUS AS status
             , US.NOTIFICATION_TIME AS notification_time -- 알림 시간
          FROM TBL_SCHEDULE S
          LEFT JOIN TBL_USER OWNER -- 일정 소유자와 조인
            ON S.USER_ID = OWNER.USER_ID
          LEFT JOIN TBL_USER_SCHEDULE US
            ON S.SCHEDULE_ID = US.SCHEDULE_ID
          LEFT JOIN TBL_USER PARTICIPANT -- 참여자와 조인
            ON US.USER_ID = PARTICIPANT.USER_ID
         WHERE US.USER_ID = #{userId}
           AND DATE(S.START_TIME) = CURDATE()
         ORDER BY S.START_TIME
    </select>
</mapper>