<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.threeping.syncday.workspace.query.respository.WorkspaceMapper">
    <resultMap id="workspaceResultMap" type="com.threeping.syncday.workspace.query.aggregate.Workspace">
        <id property="workspaceId" column="workspace_id"></id>
        <result property="workspaceName" column="workspace_name"></result>
        <result property="createdAt" column="created_at"></result>
        <result property="progressStatus" column="progress_status"></result>
        <result property="vcsType" column="vcs_type"></result>
        <result property="vcsRepoUrl" column="vcs_repo_url"></result>
        <result property="vcsRepoName" column="vcs_repo_name"></result>
        <result property="projId" column="proj_id"></result>
    </resultMap>

    <!-- 검색을 위한 resultMap 추가 -->
    <resultMap id="searchResultMap" type="com.threeping.syncday.workspace.query.dto.WorkspaceQueryDTO">
        <id property="workspaceId" column="workspace_id"></id>
        <result property="workspaceName" column="workspace_name"></result>
        <result property="projectId" column="proj_id"></result>
        <result property="projectName" column="proj_name"></result>
        <result property="vcsType" column="vcs_type"></result>
        <result property="vcsRepoUrl" column="vcs_repo_url"></result>
        <result property="vcsRepoName" column="vcs_repo_name"></result>
        <result property="createdAt" column="created_at"></result>
    </resultMap>

    <select id="selectAllWorkSpaces" resultMap="workspaceResultMap">
        SELECT
                WORKSPACE_ID
               ,WORKSPACE_NAME
               ,CREATED_AT
               ,PROGRESS_STATUS
               ,VCS_TYPE
               ,VCS_REPO_NAME
               ,VCS_REPO_URL
               ,PROJ_ID
          FROM TBL_WORKSPACE
    </select>

    <select id="selectWorkspacesByProjId" resultMap="workspaceResultMap" parameterType="long">
        SELECT
                WORKSPACE_ID
               ,WORKSPACE_NAME
               ,CREATED_AT
               ,PROGRESS_STATUS
               ,VCS_TYPE
               ,VCS_REPO_NAME
               ,VCS_REPO_URL
               ,PROJ_ID
        FROM    TBL_WORKSPACE
       WHERE   PROJ_ID = #{ projId }
    </select>


    <resultMap id="workspaceInfoMap" type="com.threeping.syncday.workspace.query.aggregate.WorkspaceInfoDTO">
        <id property="workspaceId" column="workspace_id"/>
        <result property="workspaceName" column="workspace_name"></result>
        <collection property="cardboards" column="workspace_id"
                    select="selectCardboardsByWorkspaceId"/>
    </resultMap>


    <resultMap id="cardboardMap" type="com.threeping.syncday.workspace.query.aggregate.CardboardVO">
        <id property="cardboardId" column="cardboard_id"/>
        <result property="title" column="title"/>
        <result property="createdAt" column="created_at"/>
        <result property="startTime" column="start_time"/>
        <result property="endTime" column="end_time"/>
        <result property="progressStatus" column="progress_status"/>
        <result property="vcsType" column="vcs_type"/>
        <result property="vcsMilestoneUrl" column="vcs_milestone_url"/>
        <result property="workspaceId" column="workspace_id"/>
        <collection property="cards" column="cardboard_id"
                    select="selectCardsByCardboardId"/>
    </resultMap>

    <resultMap id="cardMap" type="com.threeping.syncday.workspace.query.aggregate.CardVO">
        <id property="cardId" column="card_id"/>
        <result property="cardTitle" column="card_title"/>
        <result property="cardContent" column="card_content"/>
        <result property="createdAt" column="created_at"/>
        <result property="startTime" column="start_time"/>
        <result property="endTime" column="end_time"/>
        <result property="vcsObjectType" column="vcs_object_type"/>
        <result property="vcsObjectUrl" column="vcs_object_url"/>
        <result property="cardboardId" column="cardboard_id"/>
        <result property="tagId" column="tag_id"/>
        <result property="tagName" column="tag_name"/>
        <result property="tagColor" column="tag_color"/>
        <result property="cardboardTitle" column="cardboard_title"/>
        <result property="workspaceId" column="workspace_id"/>
        <result property="creatorId" column="creator_id"/>
        <result property="creatorName" column="creator_name"/>
        <result property="creatorEmail" column="creator_email"/>
        <result property="creatorProfileUrl" column="creator_profile_url"/>
        <result property="creatorTeamId" column="creator_team_id"/>
        <result property="assigneeId" column="assignee_id"/>
        <result property="assigneeName" column="assignee_name"/>
        <result property="assigneeEmail" column="assignee_email"/>
        <result property="assigneeProfileUrl" column="assignee_profile_url"/>
        <result property="assigneeTeamId" column="assignee_team_id"/>
        <result property="creatorTeamName" column="creator_team_name"/>
        <result property="assigneeTeamName" column="assignee_team_name"/>
    </resultMap>


    <!-- Select Workspace -->
    <select id="selectWorkspaceById" resultMap="workspaceInfoMap">
        SELECT
                WORKSPACE_ID
               ,WORKSPACE_NAME
        FROM TBL_WORKSPACE
        WHERE workspace_id = #{workspaceId}
    </select>
    <select id="selectCardboardsByWorkspaceId" resultMap="cardboardMap">
        SELECT cardboard_id,
               title,
               created_at,
               start_time,
               end_time,
               progress_status,
               vcs_type,
               vcs_milestone_url,
               workspace_id
        FROM TBL_cardboard
        WHERE workspace_id = #{workspaceId}
        ORDER BY created_at DESC
    </select>

    <select id="selectCardsByCardboardId" resultMap="cardMap">
        SELECT *
        FROM VW_CARD_INFO
        WHERE cardboard_id = #{cardboardId}
        ORDER BY created_at DESC
    </select>

    <select id="findWorkspaceById" resultMap="searchResultMap" parameterType="Long">
        SELECT
            w.workspace_id,
            w.workspace_name,
            w.proj_id,
            p.proj_name,
            w.vcs_type,
            w.vcs_repo_name,
            w.vcs_repo_url,
            w.created_at
        FROM
            TBL_WORKSPACE w
        LEFT JOIN TBL_PROJ p ON w.proj_id = p.proj_id
        WHERE
            w.workspace_id = #{workspaceId}
    </select>

    <select id="findAllWorkspaces" resultMap="searchResultMap">
        SELECT
            w.workspace_id,
            w.workspace_name,
            w.proj_id,
            p.proj_name,
            w.vcs_type,
            w.vcs_repo_name,
            w.vcs_repo_url,
            w.created_at
        FROM
            TBL_WORKSPACE w
        LEFT JOIN TBL_PROJ p ON w.proj_id = p.proj_id
    </select>
</mapper>