<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.threeping.syncday.workspace.query.respository.WorkspaceMapper">
    <resultMap id="workspaceResultMap" type="com.threeping.syncday.workspace.query.aggregate.Workspace">
        <id property="workspaceId" column="workspace_id"></id>
        <result property="workspaceName" column="workspace_name"></result>
        <result property="createdAt" column="created_at"></result>
        <result property="progressStatus" column="progress_status"></result>
        <result property="vcsType" column="vcs_type"></result>
        <result property="vcsRepoUrl" column="vcs_repo_url"></result>
        <result property="projId" column="proj_id"></result>
    </resultMap>

    <select id="selectAllWorkSpaces" resultMap="workspaceResultMap">
        SELECT
                WORKSPACE_ID
               ,WORKSPACE_NAME
               ,CREATED_AT
               ,PROGRESS_STATUS
               ,VCS_TYPE
               ,VCS_REPO_URL
               ,PROJ_ID
          FROM TBL_WORKSPACE
    </select>

    <select id="selectWorkspacesByProjId" resultMap="workspaceResultMap" parameterType="long">
        SELECT
                WORKSPACE_ID
               ,WORKSPACE_NAME
               ,CREATED_AT
               ,PROGRESS_STATUS
               ,VCS_TYPE
               ,VCS_REPO_URL
               ,PROJ_ID
        FROM    TBL_WORKSPACE
       WHERE   PROJ_ID = #{ projId }
    </select>
</mapper>