<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.threeping.syncday.vcs.query.repository.GithubRepositoryMapper">

    <resultMap id="githubRepositoryResultMap" type="com.threeping.syncday.vcs.query.aggregate.dto.GithubRepositoryDTO">
        <id property="id" column="id"/>
        <result property="installationId" column="installation_id"/>
        <result property="userId" column="user_id"/>
        <result property="repoId" column="repo_id"/>
        <result property="repoName" column="repo_name"/>
        <result property="repoFullName" column="repo_full_name"/>
        <result property="repoUrl" column="repo_url"/>
        <result property="htmlUrl" column="html_url"/>
        <result property="defaultBranch" column="default_branch"/>
        <result property="isPrivate" column="is_private"/>
        <result property="isActive" column="is_active"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
    </resultMap>

    <select id="selectGithubRepositoryByInstallationId" resultMap="githubRepositoryResultMap" parameterType="long">
        SELECT
            id,
            installation_id,
            user_id,
            repo_id,
            repo_name,
            repo_full_name,
            repo_url,
            html_url,
            default_branch,
            is_private,
            is_active,
            created_at,
            updated_at
        FROM TBL_GITHUB_REPOSITORY
        WHERE installation_id = #{installationId}
    </select>

    <select id="selectGithubRepositoryById" resultMap="githubRepositoryResultMap" parameterType="long">
        SELECT
            id,
            installation_id,
            user_id,
            repo_id,
            repo_name,
            repo_full_name,
            repo_url,
            html_url,
            default_branch,
            is_private,
            is_active,
            created_at,
            updated_at
        FROM TBL_GITHUB_REPOSITORY
        WHERE id = #{repoId}
    </select>

</mapper>