<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.threeping.syncday.scheduleparticipant.query.repository.ScheduleParticipantMapper">
    
    <resultMap id="scheduleParticipantResultMap" type="com.threeping.syncday.scheduleparticipant.query.aggregate.ScheduleParticipantDTO">
        <result property="userId" column="user_id"/>
        <result property="scheduleId" column="schedule_id"/>
        <result property="participationStatus" column="status"/>
        <result property="notificationTime" column="notification_time"/>
    </resultMap>
    
    <select id="findParticipantsByNotificationTimeBetween" resultMap="scheduleParticipantResultMap" parameterType="map">
        SELECT US.USER_ID,
               US.SCHEDULE_ID,
               CONVERT_TZ(US.NOTIFICATION_TIME, '+00:00', '+09:00') AS NOTIFICATION_TIME,
               US.STATUS
          FROM TBL_USER_SCHEDULE US
         WHERE US.NOTIFICATION_TIME BETWEEN #{start} AND #{end}
    </select>
</mapper>