<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.threeping.syncday.cardcomment.query.repository.CardCommentMapper">

    <!-- Result Map -->
    <resultMap id="cardCommentResultMap" type="com.threeping.syncday.cardcomment.query.aggregate.dto.CardCommentDTO">
        <id property="cardCommentId" column="card_comment_id"/>
        <result property="content" column="content"/>
        <result property="userId" column="user_id"/>
        <result property="cardId" column="card_id"/>
    </resultMap>

    <!-- Select All Comments for a Card -->
    <select id="selectCardCommentsByCardId" parameterType="long" resultMap="cardCommentResultMap">
        SELECT
            card_comment_id,
            content,
            user_id,
            card_id
        FROM
            TBL_CARD_COMMENT
        WHERE
            card_id = #{cardId}
        ORDER BY
            created_at DESC
    </select>

    <!-- Select Single Comment by ID -->
    <select id="selectCardCommentById" parameterType="long" resultMap="cardCommentResultMap">
        SELECT
            card_comment_id,
            content,
            user_id,
            card_id
        FROM
            TBL_CARD_COMMENT
        WHERE
            card_comment_id = #{cardCommentId}
    </select>


</mapper>