<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.threeping.syncday.meetingroom.query.repository.MeetingroomMapper">
    <resultMap id="meetingroomResultMap" type="com.threeping.syncday.meetingroom.query.aggregate.Meetingroom">
        <id property="meetingroomId" column="meetingroom_id"></id>
        <result property="meetingroomPlace" column="meetingroom_place"></result>
        <result property="meetingroomName" column="meetingroom_name"></result>
        <result property="meetingroomCapacity" column="meetingroom_capacity"></result>
        <result property="teamId" column="team_id"></result>
    </resultMap>

    <select id="selectAllMeetingrooms" resultMap="meetingroomResultMap">
        SELECT
                MEETINGROOM_ID
               ,MEETINGROOM_PLACE
               ,MEETINGROOM_NAME
               ,MEETINGROOM_CAPACITY
          FROM TBL_MEETINGROOM
    </select>

<!--    <select id="selectMeetingroomByTeamId" resultMap="meetingroomResultMap">-->
<!--        SELECT-->
<!--                MEETINGROOM_ID-->
<!--               ,MEETINGROOM_PLACE-->
<!--               ,MEETINGROOM_NAME-->
<!--               ,MEETINGROOM_CAPACITY-->
<!--               ,TEAM_ID-->
<!--          FROM TBL_MEETINGROOM-->
<!--         WHERE TEAM_ID = #{teamId}-->
<!--    </select>-->

</mapper>