<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.threeping.syncday.cardbookmark.query.repository.CardBookmarkMapper">

    <!-- Result Map -->
    <resultMap id="cardBookmarkResult" type="com.threeping.syncday.cardbookmark.query.aggregate.dto.CardBookmarkDTO">
        <id property="cardBookmarkId" column="card_bookmark_id"/>
        <result property="userId" column="user_id"/>
        <result property="cardId" column="card_id"/>
    </resultMap>



    <!-- Select all bookmarks for a user -->
    <select id="selectCardBookmarksByUserId" parameterType="long" resultMap="cardBookmarkResult">
        SELECT card_bookmark_id,
               user_id,
               card_id
        FROM TBL_CARD_BOOKMARK
        WHERE user_id = #{userId}
    </select>


</mapper>