<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.threeping.syncday.schedulerepeat.query.repository.ScheduleRepeatMapper">
    <resultMap id="scheduleRepeatResultMap" type="com.threeping.syncday.schedulerepeat.query.aggregate.ScheduleRepeat">
        <id property="scheduleRepeatId" column="schedule_repeat_id"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="startTime" column="start_time"/>
        <result property="endTime" column="end_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="meetingStatus" column="meeting_status"/>
        <result property="recurrencePattern" column="recurrence_pattern"/>
        <result property="userId" column="user_id"/>
    </resultMap>

</mapper>

