<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.threeping.syncday.cardboard.query.repository.CardboardMapper">
    <resultMap id="cardBoardResultMap" type="com.threeping.syncday.cardboard.query.aggregate.Cardboard">
        <id property="cardBoardId" column="cardboard_id"></id>
        <result property="title" column="title"></result>
        <result property="createdAt" column="created_at"></result>
        <result property="startTime" column="start_time"></result>
        <result property="endTime" column="end_time"></result>
        <result property="progressStatus" column="progress_status"></result>
        <result property="vcsType" column="vcs_type"></result>
        <result property="vcsMilestoneUrl" column="vcs_milestone_url"></result>
        <result property="workspaceId" column="workspace_id"></result>
    </resultMap>

    <!-- ES를 위한 queryDTOMAP 추가 -->
    <resultMap id="searchResultMap" type="com.threeping.syncday.cardboard.query.dto.CardboardQueryDTO">
        <id property="cardboardId" column="cardboard_id"/>
        <result property="cardboardName" column="title"/>
        <result property="workspaceId" column="workspace_id"/>
        <result property="workspaceName" column="workspace_name"/>
        <result property="vcsType" column="vcs_type"/>
        <result property="vcsMilestoneUrl" column="vcs_milestone_url"/>
        <result property="createdAt" column="created_at"/>
    </resultMap>

    <select id="selectAllCardBoards" resultMap="cardBoardResultMap">
        SELECT
                CARDBOARD_ID
               ,TITLE
               ,CREATED_AT
               ,START_TIME
               ,END_TIME
               ,PROGRESS_STATUS
               ,VCS_TYPE
               ,VCS_MILESTONE_URL
               ,WORKSPACE_ID

          FROM TBL_CARDBOARD
    </select>

    <select id="selectCardBoardsByWorkspaceId" resultMap="cardBoardResultMap" parameterType="long">
        SELECT
                CARDBOARD_ID
               ,TITLE
               ,CREATED_AT
               ,START_TIME
               ,END_TIME
               ,PROGRESS_STATUS
               ,VCS_TYPE
               ,VCS_MILESTONE_URL
               ,WORKSPACE_ID
          FROM  TBL_CARDBOARD
          WHERE WORKSPACE_ID = #{ workspaceId }
    </select>

    <select id="selectCardboardById" resultMap="searchResultMap" parameterType="Long">
        SELECT
            c.cardboard_id,
            c.title,
            w.workspace_id,
            w.workspace_name,
            c.vcs_type,
            c.vcs_milestone_url,
            c.created_at
        FROM
            TBL_CARDBOARD c
                LEFT JOIN TBL_WORKSPACE w ON c.workspace_id = w.workspace_id
        WHERE
            c.cardboard_id = #{cardboardId}
    </select>

    <select id="findAllCardboards" resultMap="searchResultMap">
        SELECT
            c.cardboard_id,
            c.title,
            w.workspace_id,
            w.workspace_name,
            c.vcs_type,
            c.vcs_milestone_url,
            c.created_at
        FROM
            TBL_CARDBOARD c
                LEFT JOIN TBL_WORKSPACE w ON c.workspace_id = w.workspace_id
    </select>

</mapper>