<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.threeping.syncday.teamcomment.query.repository.TeamCommentMapper">
    <resultMap id="teamCommentResultMap" type="com.threeping.syncday.teamcomment.query.aggregate.dto.TeamCommentDTO">
        <id property="teamCommentId" column="team_comment_id"></id>
        <result property="content" column="content"></result>
        <result property="createdAt" column="created_at"></result>
        <result property="updatedAt" column="updated_at"></result>
        <result property="teamPostId" column="team_post_id"></result>
        <result property="userId" column="user_id"></result>
        <result property="userName" column="username"></result>
        <result property="userPosition" column="position"></result>
    </resultMap>

    <select id="findTeamCommentByTeamPostId" resultMap="teamCommentResultMap" parameterType="long">
        SELECT A.TEAM_COMMENT_ID
             , A.CONTENT
             , A.CREATED_AT
             , A.UPDATED_AT
             , A.TEAM_POST_ID
             , A.USER_ID
             , B.USERNAME
             , B.POSITION
          FROM TBL_TEAM_COMMENT A
         INNER JOIN TBL_USER B
            ON A.USER_ID = B.USER_ID
         WHERE TEAM_POST_ID = #{teamPostId}
         ORDER BY A.TEAM_COMMENT_ID DESC
    </select>
</mapper>